<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
</head>
<body>
    <h1>Sorry, we'll be right back</h1>
    <p>
        The site is currently being updated.
    </p>
</body>
</html>